# Node modules (rebuilt in cloud)
UI/mobile/DermaAI/node_modules/
UI/mobile/DermaAI/.vscode/
UI/mobile/DermaAI/.expo/
UI/mobile/DermaAI/.expo-shared/
UI/mobile/DermaAI/build/
UI/mobile/DermaAI/dist/
UI/mobile/DermaAI/android/
UI/mobile/DermaAI/ios/
UI/CLI/

# Monorepo folders to ignore
backend/
doc/
.git/
