# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Package metadata
*.egg-info/
dist/
build/
*.egg

# Models / output
*.pth
*.pt
results.*
dermaai_cli/model/
backend/DermaAI/model/

# Misc
.DS_Store
