.venv
.env
.venv311


data
cli/raw_sample_images
cli/sample_images
cli/processed_sample_images
.idea

node_modules
package-lock.json
package.json

IAC/.terraform
IAC/.terraform.lock.hcl
IAC/envs


# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Package metadata
*.egg-info/
dist/
build/
*.egg

# Models / output
*.pth
*.pt
results.*
dermaai_cli/model/
backend/DermaAI/model/

# Misc
.DS_Store
